.b-container{
    padding-top: 3rem;
}
.bo{
    display: flex;
}
h1{
    font-style: normal;
font-weight: 700;
font-size: clamp(1.5em,2.569vw,2.313em);
line-height: 97px;
text-align: center;
}
#b-img{
    width: 50vw;
    height: 30vw;
}
.bo-right{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#b-but{
    border: 2.28776px solid #000000;
border-radius: 25px;
padding-left: 30px;

padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;

}
#b-but1{
    background: #000;
    color: white;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.bo-button{
    display: flex;
    gap: 3rem;
}