.nav{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    background-color: white;
    border-bottom: 1px solid grey;

}
.log-links{
    display: flex;
    padding-right: 5em;
  
    gap: 30px;
    
   
    
}
#log-links{
    border: 1px solid #4A945A;
    border-radius: 10px ;
    width: 5em;
    height: 30px;
    text-decoration: none;
    color: #4A945A;
    align-items: center;
    font-size: 16px;
    font-weight: 600;

    
    
}