.nav{
    background-color: #111827;
    padding: 0.5rem;
}
.nav-container{
    
    display: flex;
    justify-content: space-between;
    
}
.logo{
    color: white;
    padding-left: 3rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 75px;
    font-style: normal;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Nav-links{
    color: white;
    display: flex;
    padding-right: 3rem;
    gap: 1rem;
    
}
#select-nav{
background: #464545;
border-radius: 30px;
height: 30px;
font-weight: 700;
font-size: 16px;
margin: auto;
font-family: "UberMoveText, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif";

}
#select-links{
    margin: auto;

font-style: normal;
font-weight: 700;
font-size: 16px;
font-family: "UberMoveText, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif"
}
