.spec-cont {
 
display: flex;
 
}

#spec-h1 {
  text-align: left;
  padding-left: 5rem;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.5em, 2.569vw, 2.313em);
  line-height: 97px;
  text-align: center;
}
#spec-span {
  /* font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 72px; */
  width: 100%;
  height: auto;
  font-family: Circular-Std-Book;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}
.spec-cards {
  background: rgba(217, 217, 217, 0.4);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.spec-cards img {
  width: 200px;
  border-radius: 20px; 
}
.spec-img {
  padding-top: 1.5rem;
  justify-items: center;
  margin-bottom: 1.5rem;
}
.spec-text {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 400px;
  margin-left: 7.5rem;

}
.spec-text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 90px;
}
